:root {
  --color-warm: #BF6D24;
  --color-primary: #6E7BFF;
  --color-background: #F3F6FA;
  --color-background-secondary: #E3E9F1;
  --color-accent: #2C9AC1;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #4A4A4A;
}

/*  Tema Dark */
.dark {
  --color-primary: #515EA6;
  --color-background: #122330;
  --color-background-secondary: #2A3544;
  --color-accent: #30A5BF;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
}